* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.timer span {
  font-size: 4rem;
  font-weight: bold;
}

.timer span:not(:last-child) {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #1f4410;
}

button:focus {
  outline: none;
}
